
<div class="md:hidden bg-white dark:bg-darkBlue rounded-md p-5 flex justify-between ">
    <div class="space-y-4">
        <p class="text-dark dark:text-light font-bold"><span class="text-blueCiel">#</span>RT3080</p>
        <div>
            <p class="text-grey dark:text-lightGrey">Due  19 Aug 2021</p>
            <p class="text-dark dark:text-white font-bold">£ 1,800.90</p>
        </div>
    </div>

    <div class="space-y-4">
        <p class="text-grey dark:text-white">Jensen Huang</p>
        <button class="bg-[#e2fff5] dark:bg-[#1a5844] py-2 px-8 rounded-md flex gap-2 items-center">
            <div class="bg-[#33D69F] h-2 w-2 rounded-full"></div>
            <p class="text-[#33D69F] font-bold">Paid</p>
        </button>
    </div>
</div>

<div class="hidden md:grid grid-cols-5 items-center bg-white dark:bg-darkBlue rounded-md p-5">
    <p class="text-dark dark:text-light font-bold"><span class="text-blueCiel">#</span>RT3080</p>
    <p class="text-grey dark:text-lightGrey">Due  19 Aug 2021</p>
    <p class="text-grey dark:text-white">Jensen Huang</p>
    <p class="text-dark dark:text-white font-bold">£ 1,800.90</p>

    <div class="flex items-center gap-3">
        <button class="bg-[#e2fff5] dark:bg-[#1a5844] py-2 px-8 rounded-md flex gap-2 items-center">
            <div class="bg-[#33D69F] h-2 w-2 rounded-full"></div>
            <p class="text-[#33D69F] font-bold">Paid</p>
        </button>

        <div>
        <img src="/assets/icon-arrow-right.svg" alt="arrow rigt icon" class="lg:w-3 lg:h-3">
        </div>
    </div>
</div>